.heroSection{
    display: flex;
    justify-content: space-evenly;
    padding-top:60px;
    padding-bottom: 20px;
    font-size:20px;


}
/*.buttonSection{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*}*/
.heroSection > img{
    display: flex;
    justify-content: space-around;
}