.mainContainer{
    padding: 4% 0;
    display: flex;
    justify-content: space-around;
    gap: 10%;
    margin-right: 40%;
    margin-bottom: 50%;
    color: #fff;
}


.footerSide{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;

}

.footerSide >p{
    display: block;

}
.input::placeholder{
    color: white;
}
.input{
        width: 90%;
        padding: 10px 15px;
        border-radius: 3px;
        border: none;

    }