.mainContainer {
    background: #263238;
    padding: 4% 0;
    display: flex;
    color: white;
    justify-content: space-around;
    gap: 20%;

}
.footerSide{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;

}